.page[b-yof3n7o9tf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-yof3n7o9tf] {
    flex: 1;
}

.sidebar[b-yof3n7o9tf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yof3n7o9tf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yof3n7o9tf]  a, .top-row[b-yof3n7o9tf]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-yof3n7o9tf]  a:hover, .top-row[b-yof3n7o9tf]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-yof3n7o9tf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-yof3n7o9tf] {
        justify-content: space-between;
    }

    .top-row[b-yof3n7o9tf]  a, .top-row[b-yof3n7o9tf]  .btn-link {
        margin-left: 0;
    }
}
@media(min-width: 641px) and (max-width: 1399.98px) {
    .sidebar[b-yof3n7o9tf] {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yof3n7o9tf] {
        flex-direction: row;
    }

    .sidebar[b-yof3n7o9tf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yof3n7o9tf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-yof3n7o9tf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-yof3n7o9tf], article[b-yof3n7o9tf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-yof3n7o9tf] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-yof3n7o9tf] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
